@theme {
	/* V1 */
	/* Animations */
	--animate-scrolling1: loop1 15s linear infinite;
	--animate-scrolling1-fast: loop1 15s linear infinite;
	--animate-scrolling2: loop2 15s linear infinite;
	--animate-scrolling2-fast: loop2 15s linear infinite;
	--animate-fade: fadeOut 4s forwards;
	/* V2 */
	/* Colors */
	--color-defense-dark: #0c1a3e;
	--color-mission-blue: #144a8f;
	--color-hero-navy: #102349;
	--color-unicorn-white: #fdfdfd;
	--color-background-white: #f9f9f9;
	--color-action-red: #eb2628;
	--color-tech-cyan: #24b0ff;
	--color-dark-gray: #323336;
	--color-mid-gray: #9e9e9e;
	--color-light-gray: #e6e6e6;
	--color-du-dkRed: #6e0000;
	--color-red-section-label: #ff5456;
	--color-du-green: #9acc5b;

	/* Gradient Colors */
	--color-unicorn-white-30: rgba(255, 255, 255, 0.3); /* 30% opacity */
	--color-unicorn-white-50: rgba(255, 255, 255, 0.5); /* 50% opacity */
	--color-tech-cyan-15: rgba(36, 176, 255, 0.15); /* 15% opacity */
	--color-tech-cyan-30: rgba(36, 176, 255, 0.3); /* 30% opacity */
	--color-mission-blue-32: rgba(20, 74, 143, 0.32); /* 32% opacity */
	--color-mission-blue-65: rgba(20, 74, 143, 0.65); /* 65% opacity */
	--color-hero-navy-40: rgba(16, 35, 73, 0.4); /* 40% opacity */
	--color-hero-navy-80: rgba(16, 35, 73, 0.8); /* 80% opacity */

	/* Background Images */
	/* V1 */
	--bg-card: linear-gradient(
		145deg,
		var(--color-mission-blue) 0%,
		var(--color-hero-navy) 20%,
		var(--color-defense-dark) 40%,
		var(--color-defense-dark) 60%,
		var(--color-hero-navy) 80%,
		var(--color-mission-blue) 100%
	);
	--bg-button: linear-gradient(112deg, var(--color-du-dkRed) 44.55%, var(--color-action-red) 98.7%);
	/* V2 */
	/* Fonts */
	--font-body: Poppins, arial, sans-serif;
	--font-header: Teko, arial, sans-serif;
	--font-code: monospace;

	/* Font Weights */
	--font-weight-thin: 100;
	--font-weight-hairline: 100;
	--font-weight-extralight: 200;
	--font-weight-light: 300;
	--font-weight-normal: 300;
	--font-weight-semimedium: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;
	--font-weight-extrabold: 800;
	--font-weight-black: 900;

	/* Line Heights */
	--leading-none: 1;
	--leading-tight: 1.25;
	--leading-normal: 1.5;
	--leading-relaxed: 1.625;
	--leading-loose: 2;

	/* Font Sizes */
	--text-sm: 14px;
	--text-base: 16px;
	--text-lg: 18px;
	--text-xl: 20px;
	--text-2xl: 24px;
	--text-26: 26px;
	--text-28: 28px;
	--text-3xl: 30px;
	--text-34: 34px;
	--text-4xl: 36px;
	--text-40: 40px;
	--text-44: 44px;
	--text-5xl: 48px;
	--text-52: 52px;
	--text-6xl: 60px;
	--text-64: 64px;
	--text-7xl: 70px;
	--text-8xl: 80px;

	/* Letter Spacing */
	--tracking-tightest: -0.075em;
	--tracking-tighter: -0.05em;
	--tracking-tight: -0.025em;
	--tracking-normal: 0;
	--tracking-wide: 0.02em;
	--tracking-wider: 0.05em;
	--tracking-widest: 0.1em;
	/* V1 */
	/* Transitions */
	--transition-property-all: all;
	--transition-duration-300: 300ms;
	--transition-duration-500: 500ms;
	--transition-timing-in-out: ease-in-out;
}
